body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

h2 {
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #d9e6f2;
}

.descripcion,
.datos {
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 15px;
}

ul {
    columns: 2;
}

.galeria {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.galeria img {
    width: 950px;
    /* Más grandes */
    height: auto;
    /* Mantiene proporción */
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}